<!-- <h2>New Mix</h2>
  <form name="form" ng-submit="ctrl.addOpp()">
    <label>Title:</label>
  <input type="text" name="title" class="form-control" required="required" ng-model="ctrl.mix.title"
  <div ng-messages="form.title.$error" ng-if="form.product.$touched">
    <div ng-message="required">Product Name Is Required!</div>
  </div>
  <input type="text" name="dj_name" class="form-control" required="required" ng-model="ctrl.mix.dj_name"
  <div ng-messages="form.dj_name.$error" ng-if="form.product.$touched">
    <div ng-message="required">Dj Name Is Required!</div>
  </div>
</form> -->
