/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .

 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";



 body {
    background-color: #ecf0f1;
}

.sm2-bar-ui.fixed {
    position: fixed;
    top: auto;
    bottom: 100px;
    left: 100px;
    border-radius: 0px;
    overflow: visible;
    z-index: 999;
}
.sm2-bar-ui.full-width {
    max-width: 100%;
    z-index: 5;
}
.sm2-bar-ui {
    transition: all 0.2s ease-in-out;
}
.sm2-bar-ui {
    font-size: 15px;
    text-shadow: none;
}
.sm2-bar-ui, .sm2-bar-ui .bd a {
    color: #95a5a6;
}
.sm2-bar-ui {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: helvetica, arial, verdana, sans-serif;
    font-weight: normal;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    min-width: 20em;
    max-width: 30em;
    border-radius: 2px;
    overflow: hidden;
    transition: max-width 0.2s ease-in-out;
}
